<!DOCTYPE html>

<html ng-app="pwsonline">

    <head>
        <meta charset="utf-8"/>
        <title>Main page</title>
        <link rel="stylesheet" href="node_modules/bootstrap3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="css/index.css">

        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/bootstrap3/dist/js/bootstrap.min.js"></script>
    </head>

    <body>

        <div class="container" ng-controller="MainCtrl as ctrl">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid">
    
                    <div class="navbar-collapse in">
    
                        <div class="navbar-collapse" ng-class="ctrl.isCollapsed ? 'collapse' : 'in'">
    
                            <ul class="nav navbar-nav">
                                <li ng-repeat="menuPos in ctrl.menu" ng-class="ctrl.navClass(menuPos.route)">
                                    <a href="#{{menuPos.route}}" ng-bind-html="menuPos.title"></a>
                                </li>
                            </ul>
        
                        </div>

                    </div>
                </div>

            </nav>

            <div ng-view></div>

        </div>

        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-route/angular-route.min.js"></script>
        <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>

        <script src="js/app.js"></script>
        <script src="js/rootCtrl.js"></script>
        <script src="js/exampleCtrl.js"></script>
        <script src="js/bankCtrl.js"></script>
        <script src="js/transferCtrl.js"></script>
    </body>

</html>